@charset "utf-8";

.site-nav {
	padding-right: 50px;
	background-position: right 50%;
	display: block;
	padding-left: 0px;
	background-image: url(images/bg_banner_menu.gif);
	padding-bottom: 0px;
	padding-top: 3px;
	background-repeat: no-repeat;
	height: 30px;
	text-align: right;
}

* {
	FONT-SIZE: 12px;
}

#logo {
	COLOR: white
}

#logo A {
	COLOR: white
}

FORM {
	MARGIN: 0px
}

.topSubNav {
	font-size: 12px;
	font-weight: normal;
	color: #369;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	text-align: left;
	width: 60%;
}

.left-container-title {
	width: 99%;
	height: 220px;
	border: 1px solid;
	border-radius: 3px;
}

.notice-title {
	width: 100%;
	height: 138px;
	border: 1px solid;
	border-radius: 3px;
	float: right;
}

.schedule-title {
	width: 100%;
	height: 165px;
	border: 1px solid;
	border-radius: 3px;
	float: right;
	margin-top: 10px;
}

.log-title {
	width: 100%;
	height: 165px;
	border: 1px solid;
	border-radius: 3px;
	float: right;
	margin-top: 10px;
}

.outcheck-title {
	width: 100%;
	height: 165px;
	border: 1px solid;
	border-radius: 3px;
	float: right;
	margin-top: 10px;
}

.save-submit {
	background: url(../images/bg_button_blue.gif) no-repeat;
	width: 78px;
	height: 21px;
	border: none;
	cursor: pointer;
}