@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd {
	padding: 0;
	margin: 0
}

ul {
	list-style: none;
}

img {
	border: none;
}

body {
	font-size: 12px;
	font-family: "\5B8B\4F53";
	color: #333;
	background: #fff;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.w1200 {
	width: 1000px;
	margin: 0 auto;
}

.mt10 {
	margin-top: 10px;
}

.blue {
	color: #0059a5;
}

.color_red {
	color: #F00;
}

.jianju10 {
	padding-left: 10px;
}

.jianju20 {
	padding-left: 20px;
}

.mt7 {
	margin-top: 7px;
}

/*内页*/
.line_g {
	line-height: 25px;
}

.hover_bg:hover {
	background: #f8f8f8;
	cursor: pointer;
}

.tab_bg2 a {
	position: relative;
}

.tab_bg2 span {
	position: absolute;
	top: 9px;
	right: 10px;
	cursor: pointer;
}

.subnav {
	background: #badefc;
	height: 66px;
	width: 100%;
	min-width: 1200;
	padding: 10px 0px;
}

.people {
	height: 56px;
	width: 150px;
	float: left;
	font-size: 13px;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 30px;
}

.people img {
	float: left;
	margin-right: 10px;
}

.subnav ul li {
	float: left;
	display: inline;
	text-align: center;
	margin-right: 10px;
}

.subnav ul li span {
	width: 67px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	vertical-align: middle;
}

.subnav span img,.subnav a img {
	max-width: 67px;
	width: expression_r(this.width > 67 ? "67px" : this.width);
	vertical-align: middle;
	max-height: 32px;
	height: expression_r(this.height > 32 ? "32px" : this.height);
}

.subnav ul li a {
	width: 67px;
	height: 58px;
	padding-top: 8px;
	float: left;
}

.subnav ul li a:hover,.subtab {
	background: url(../images/subnav_bg.png) no-repeat;
}

.subnav ul li p {
	line-height: 30px;
}