@charset "utf-8";
/* CSS Document */
/*content*/
.center {
	text-align: center;
	font-weight: bold;
}

.tab a {
	color: #fff;
}

.content_box {
	margin: 0px 10px 10px 10px;
}

.current {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}

.current span {
	margin: 0px 5px;
}

.infolist table {
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
}

.infolist table tr td {
	border-bottom: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
}

.title {
	height: 40px;
	background: #efefef;
}

.title h4 {
	font-size: 14px;
	margin-left: 10px;
	line-height: 40px;
	float: left;
}

.review {
	margin: 4px;
	float: right;
}

.zsgc li {
	background: url(../images/zsgc_bg.png) no-repeat;
	float: left;
	display: inline;
	width: 45px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	margin-left: 10px;
}

.zsgc li a {
	display: block;
}

.list_date {
	margin-right: 10px;
}

.select {
	height: 26px;
	line-height: 26px;
	width: 100px;
}

.name {
	text-decoration: underline;
}

.page {
	line-height: 40px;
}

.page li {
	float: left;
	display: inline;
	margin: 0px 10px;
}

.page_numble {
	width: 40px;
	height: 18px;
	margin: 0px 5px;
}

.go {
	background: url(../images/go.png) no-repeat;
	width: 29px;
	height: 25px;
	border: none;
	cursor: pointer;
}