<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.fms.expense.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.etc.fms.expense.entity.Apply">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="atitle" jdbcType="VARCHAR" property="atitle" />
    <result column="atime" jdbcType="TIMESTAMP" property="atime" />
    <result column="acontent" jdbcType="VARCHAR" property="acontent" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, eid, atitle, atime, acontent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etc.fms.expense.entity.Apply">
    insert into apply (aid, eid, atitle, 
      atime, acontent)
    values (#{aid,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{atitle,jdbcType=VARCHAR}, 
      #{atime,jdbcType=TIMESTAMP}, #{acontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.etc.fms.expense.entity.Apply">
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="atitle != null">
        atitle,
      </if>
      <if test="atime != null">
        atime,
      </if>
      <if test="acontent != null">
        acontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="atitle != null">
        #{atitle,jdbcType=VARCHAR},
      </if>
      <if test="atime != null">
        #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="acontent != null">
        #{acontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.fms.expense.entity.Apply">
    update apply
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="atitle != null">
        atitle = #{atitle,jdbcType=VARCHAR},
      </if>
      <if test="atime != null">
        atime = #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="acontent != null">
        acontent = #{acontent,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.fms.expense.entity.Apply">
    update apply
    set eid = #{eid,jdbcType=INTEGER},
      atitle = #{atitle,jdbcType=VARCHAR},
      atime = #{atime,jdbcType=TIMESTAMP},
      acontent = #{acontent,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>