<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.fms.expense.dao.PledgeMapper">
 
  <resultMap id="BaseResultMap" type="com.etc.fms.expense.entity.Pledge">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="ptitle" jdbcType="VARCHAR" property="ptitle" />
    <result column="ptime" jdbcType="TIMESTAMP" property="ptime" />
    <result column="pcontent" jdbcType="VARCHAR" property="pcontent" />
    <result column="pmoney" jdbcType="DOUBLE" property="pmoney" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, eid, ptitle, ptime, pcontent, pmoney
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pledge
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pledge
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etc.fms.expense.entity.Pledge">
    insert into pledge (pid, eid, ptitle, 
      ptime, pcontent, pmoney
      )
    values (#{pid,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{ptitle,jdbcType=VARCHAR}, 
      #{ptime,jdbcType=TIMESTAMP}, #{pcontent,jdbcType=VARCHAR}, #{pmoney,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etc.fms.expense.entity.Pledge">
    insert into pledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="ptitle != null">
        ptitle,
      </if>
      <if test="ptime != null">
        ptime,
      </if>
      <if test="pcontent != null">
        pcontent,
      </if>
      <if test="pmoney != null">
        pmoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ptitle != null">
        #{ptitle,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null">
        #{ptime,jdbcType=TIMESTAMP},
      </if>
      <if test="pcontent != null">
        #{pcontent,jdbcType=VARCHAR},
      </if>
      <if test="pmoney != null">
        #{pmoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.fms.expense.entity.Pledge">
    update pledge
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ptitle != null">
        ptitle = #{ptitle,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null">
        ptime = #{ptime,jdbcType=TIMESTAMP},
      </if>
      <if test="pcontent != null">
        pcontent = #{pcontent,jdbcType=VARCHAR},
      </if>
      <if test="pmoney != null">
        pmoney = #{pmoney,jdbcType=DOUBLE},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.fms.expense.entity.Pledge">
    update pledge
    set eid = #{eid,jdbcType=INTEGER},
      ptitle = #{ptitle,jdbcType=VARCHAR},
      ptime = #{ptime,jdbcType=TIMESTAMP},
      pcontent = #{pcontent,jdbcType=VARCHAR},
      pmoney = #{pmoney,jdbcType=DOUBLE}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  
  <!-- 自定插入方法 -->
  <insert id="insert1" parameterType="com.etc.fms.expense.entity.Pledge">
  	insert into pledge values(null,#{eid},#{ptitle},#{ptime},#{pcontent},#{pmoney})
  </insert>
  
</mapper>