<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.JobMapper">
  <resultMap id="BaseResultMap" type="com.etc.entity.Job">
    <id column="jid" jdbcType="INTEGER" property="jid" />
    <result column="jname" jdbcType="VARCHAR" property="jname" />
    <result column="jremark" jdbcType="VARCHAR" property="jremark" />
  </resultMap>
  <sql id="Base_Column_List">
    jid, jname, jremark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job
    where jid = #{jid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job
    where jid = #{jid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etc.entity.Job">
    insert into job (jid, jname, jremark
      )
    values (#{jid,jdbcType=INTEGER}, #{jname,jdbcType=VARCHAR}, #{jremark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etc.entity.Job">
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jid != null">
        jid,
      </if>
      <if test="jname != null">
        jname,
      </if>
      <if test="jremark != null">
        jremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jid != null">
        #{jid,jdbcType=INTEGER},
      </if>
      <if test="jname != null">
        #{jname,jdbcType=VARCHAR},
      </if>
      <if test="jremark != null">
        #{jremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.entity.Job">
    update job
    <set>
      <if test="jname != null">
        jname = #{jname,jdbcType=VARCHAR},
      </if>
      <if test="jremark != null">
        jremark = #{jremark,jdbcType=VARCHAR},
      </if>
    </set>
    where jid = #{jid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.entity.Job">
    update job
    set jname = #{jname,jdbcType=VARCHAR},
      jremark = #{jremark,jdbcType=VARCHAR}
    where jid = #{jid,jdbcType=INTEGER}
  </update>
</mapper>