<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.fms.user.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.etc.fms.user.entity.User">
		<id column="uid" jdbcType="INTEGER" property="uid" />
		<result column="loginname" jdbcType="VARCHAR" property="loginname" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="tel" jdbcType="VARCHAR" property="tel" />
		<result column="role" jdbcType="VARCHAR" property="role" />
	</resultMap>
	<sql id="Base_Column_List">
		uid, loginname, password, username, age, gender, tel, role
	</sql>

	<!-- admin登录校验的方法 -->
	<select id="selByNameAndPwd" resultType="com.etc.fms.user.entity.User">
		select * from user where
		loginname = #{loginname} and password = #{password}
		and role = #{role}
	</select>
	
	<!-- 查询所有用户 -->
	<select id="queryAllUser" resultType="com.etc.fms.user.entity.User">
		select
		<include refid="Base_Column_List" />
		from user 
	</select>
	
	<!--按用户名和昵称进行模糊查询  -->
	<select id="selByLUname" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where  loginname like CONCAT(CONCAT('%', #{loginname}), '%') and username like CONCAT(CONCAT('%', #{username}), '%')

	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where uid = #{uid,jdbcType=INTEGER}
	</select>
<!--按Id删除  -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where uid = #{uid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.etc.fms.user.entity.User">
		insert into user (uid,
		loginname, password,
		username, age, gender,
		tel, role)
		values
		(#{uid,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.etc.fms.user.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				uid,
			</if>
			<if test="loginname != null">
				loginname,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="role != null">
				role,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="loginname != null">
				#{loginname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="role != null">
				#{role,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<!-- 修改用户信息 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.etc.fms.user.entity.User">
		update user
		<set>
			<if test="loginname != null">
				loginname = #{loginname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="role != null">
				role = #{role,jdbcType=VARCHAR},
			</if>
		</set>
		where uid = #{uid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.etc.fms.user.entity.User">
		update user
		set
		loginname = #{loginname,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		username = #{username,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER},
		gender = #{gender,jdbcType=VARCHAR},
		tel
		= #{tel,jdbcType=VARCHAR},
		role = #{role,jdbcType=VARCHAR}
		where uid =
		#{uid,jdbcType=INTEGER}
	</update>
</mapper>